GFF3=/home/jordan/GENOMES/CNA3_FINAL_CALLGENES_1_Chr.gff3
FASTA=/home/jordan/GENOMES/CNA3-Chr.fa
CEN=/home/jordan/CodeBase/python-hm/H99centromeres.txt
SPECIES=CRYPTOCOCCUSNEOFORMANSVARGRUBII
#BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB002/150904BAMFILES/150904CM018-B_al_sorted.bam
#BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB002/150904BAMFILES/150904CM018-W_al_sorted.bam
#BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB002/150904BAMFILES/150904CM763-B_al_sorted.bam
#BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB002/150904BAMFILES/150904CM763-W_al_sorted.bam
#BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB002/150904BAMFILES/150904CM764-B_al_sorted.bam
