GFF3=/Users/jordanburke/GENOMES/CNA3_FINAL_CALLGENES_1_Chr.gff3
FASTA=/Users/jordanburke/GENOMES/CNA3-Chr.fa
CEN=/Users/jordanburke/python-hm/H99centromeres.txt
SPECIES=CRYPTOCOCCUSNEOFORMANSVARGRUBII
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM763-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM763-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM763-W_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM763-Dbr1-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM763-Dbr1-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM764-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM764-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM764-W_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM764-Dbr1-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB003/BAMFILES/CM764-Dbr1-B_sorted.bam
