GFF3=/Users/jordanburke/GENOMES/CNA3_FINAL_CALLGENES_1_Chr.gff3
FASTA=/Users/jordanburke/GENOMES/CNA3-Chr.fa
CEN=/Users/jordanburke/python-hm/H99centromeres.txt
SPECIES=CRYPTOCOCCUSNEOFORMANSVARGRUBII
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66D-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66D-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66D-W_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66G-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66G-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB66G-W_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67D-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67D-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67D-W_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67G-A_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67G-B_sorted.bam
BAM=/Users/jordanburke/Documents/JEB/HTseq/JEB004/BAMFILES/CJB67G-W_sorted.bam